/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Source+Code+Pro&family=Titillium+Web&display=swap");

/* BOOTSTRAP ICONS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

:root {
  --black: #000;
  --white: #fff;

  --text-primary: #fff;
  --text-secondary: grey;

  --bg-primary: #1c1b22;
  --bg-secondary: #2b2a33;

  --my-yellow: #b0914f;
  --my-yellow-rgb: 176, 145, 79;

  --favicon-primary: #ffb300;
  --favicon-secondary: #da7b1d;

  --brd: 3px;
  --spd: 500ms;
  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  background: rgba(var(--my-yellow-rgb), 0.5);
}

html,
body {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  line-height: 1.5;

  background-color: var(--bg-primary);
  color: var(--text-primary);
  scroll-behavior: smooth;
}

.colorful {
  background: -webkit-linear-gradient(
    -75deg,
    var(--text-primary),
    var(--my-yellow)
  );
  -webkit-text-fill-color: transparent;
  background-clip: border-box;
  -webkit-background-clip: text;
}
a {
  color: inherit;
  font-family: inherit;
  text-decoration: underline;
  transition: all ease-in-out var(--spd);
}

a:hover {
  filter: brightness(1.3);
}

code,
pre {
  font-family: Consolas, monospace;
}

mark {
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  color: inherit;
  border-radius: var(--brd);
  background-color: rgb(var(--my-yellow-rgb), 0.1);
}

/* SCROLLBAR */
*::-webkit-scrollbar {
  overflow: visible;
}
*::-webkit-scrollbar-track {
  background: #1a1920;
}
*::-webkit-scrollbar-thumb {
  background: #3f3e42;
}
*::-webkit-scrollbar-thumb:hover {
  background: #605f64;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #737277;
}

/* LARGER THAN MOBILE */
@media (min-width: 400px) {
}

/* LARGER THAN PHABLET */
@media (min-width: 550px) {
}

/* LARGER THAN TABLET */
@media (min-width: 750px) {
}

/* LARGER THAN DESKTOP */
@media (min-width: 1000px) {
}

/* LARGER THAN DESKTOP HD */
@media (min-width: 1200px) {
}
