.main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 1rem;

  width: min(55rem, 100%);
}
.main header {
  padding-top: 3rem;
}

.main header p {
  color: var(--text-secondary);
}
.card {
  background-color: var(--bg-secondary);
  margin: 1rem 0;

  padding: 1rem;
  box-shadow: var(--shadow);
  border-radius: var(--brd);
  border: 0.1px solid transparent;
  transition: border-color calc(var(--spd) / 1.5) ease-in-out;

  width: 100%;
}
.card:hover {
  border-color: rgba(var(--my-yellow-rgb), 0.3);
}

.card h2 a {
  margin-right: 0.3rem;
  text-decoration: none;
  cursor: pointer;
}
.card ul {
  padding: 7px;
  list-style-position: outside;
}
.card ul li {
  list-style: none;

  padding: 0.3rem;
  padding-left: 20px;

  background-image: url("../public/favicon.png");
  background-position: left center;
  background-size: 0.8rem;
  background-repeat: no-repeat;
}
.card ul li a {
  text-decoration: none;
}
.card ul li a:hover {
  cursor: pointer;
  color: var(--my-yellow);
}

.card ul li a i {
  color: palevioletred;
  margin-left: 0.3rem;
}
